<div class="specific-setting">
    <label for="{{id}}-minimum">{{localize "emissary.menu.reputationSettings.labels.minimum"}}</label>:
    <input name="{{id}}-minimum" value="{{settingValue.minimum}}" />
</div>
<div class="specific-setting">
    <label for="{{id}}-maximum">{{localize "emissary.menu.reputationSettings.labels.maximum"}}</label>:
    <input name="{{id}}-maximum" value="{{settingValue.maximum}}" />
</div>