<div class="specific-setting">
    <label for="{{id}}-minimum">Minimum</label>:
    <input name="{{id}}-minimum" value="{{settingValue.minimum}}" />
</div>
<div class="specific-setting">
    <label for="{{id}}-maximum">Maximum</label>:
    <input name="{{id}}-maximum" value="{{settingValue.maximum}}" />
</div>