<div class="array-setting reputation-increment" key="{{key}}" id="{{id}}">
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-label">Label</label>:
        <input name="{{id}}-{{key}}-label" type="text" value="{{this.label}}" required />
    </div>
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-minimum">Minimum</label>:
        <input name="{{id}}-{{key}}-minimum" type="text" value="{{this.minimum}}" required />
    </div>
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-maximum">Maximum</label>:
        <input name="{{id}}-{{key}}-maximum" type="text" value="{{this.maximum}}" required />
    </div>
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-color">Color</label>:
        <input name="{{id}}-{{key}}-color" type="color" value="{{this.color}}" required />
    </div>
    <button class="remove-row-button" type="button" data-action="removeRow" data-tooltip="Remove Row">
        -
    </button>
</div>