<div class="array-setting reputation-controls" key="{{key}}" id="{{id}}">
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-label">Label</label>:
        <input name="{{id}}-{{key}}-label" type="text" value="{{this.label}}" required />
    </div>
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-amount">Amount</label>:
        <input name="{{id}}-{{key}}-amount" type="number" value="{{this.amount}}" required />
    </div>
    <div class="specific-setting">
        <label for="{{id}}-{{key}}-icon">Icon</label>:
        <input name="{{id}}-{{key}}-icon" type="text" value="{{this.icon}}" required />
    </div>
    <button class="remove-row-button" type="button" data-action="removeRow" data-tooltip="Remove Row">
        -
    </button>
</div>