<div>
    <hr>
    <h1>{{localize "emissary.menu.reputationSettings.preview.label"}}</h1>
    <p>{{localize "emissary.menu.reputationSettings.preview.hint"}}</p>
    <h2>{{localize "emissary.generic.faction"}}</h2>
    {{#each preview.data.faction}}
        <div
            class="entity-item preview{{#when hidden "eq" "true"}} hidden{{/when}}"
            style="border-color:{{color}}"
            data-action="nextPreview"
            index="{{index}}"
            preview-type="entity-item"
            id="entity-item-{{index}}"
        >
        <div class="entity-box">
            <span class="item-name">{{name}}</span>
            <span
            class="reputation-level"
            data-tooltip="{{localize 'emissary.menu.reputationTracker.currentReputation'}}: {{repNumber}}"
            >
            {{label}}
            </span>
        </div>
            <div class="rollout active no-transition" id="reputation-control-{{@index}}">
                <div class="entity-information">
                    {{#if imgsrc}}<img src="{{imgsrc}}">{{/if}}
                    {{#if journalUuid}}<span>{{{journalUuid}}}</span>{{/if}}
                </div>
                <span class="control-buttons">
                    <span class="reputation-controls">
                    {{#each controls}}
                        <button
                            class="reputation-control"
                            data-value="{{amount}}"
                            data-tooltip="{{label}}"
                            type="button"
                        >
                            <i class="{{icon}}"></i>
                        </button>
                    {{/each}}
                    </span>
                    <span class="meta-controls">
                        <button
                        type="button"
                class="hide-entity"
                data-tooltip=
                {{#if hidden}}
                "{{localize 'emissary.menu.reputationTracker.reveal'}}"
                {{else}}
                "{{localize 'emissary.menu.reputationTracker.hide'}}"
                {{/if}}
                >
                    {{#if hidden}}
                    <i class="fa-solid fa-eye-slash"></i>
                    {{else}}
                    <i class="fa-solid fa-eye"></i>
                    {{/if}}
                </button>
                    <button
                    type="button"
                    class="remove-entity"
                    data-tooltip="{{localize 'emissary.menu.reputationTracker.remove'}}"
                    >
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </span>
            </div>
        </div>
    {{/each}}
</div>