<div class="setting{{#when type "eq" "settingsArray"}} vertical{{/when}}">
    <div class="info">
        <span class="title">
            {{localize settingName}}
            <button 
                class="reset-button" 
                id="reset-button"
                parent-setting="{{id}}"
                data-action="resetSettings" 
                data-tooltip="Reset these settings to default."
                type="button"
            >
                <i class="fa-regular fa-rotate-left"></i>
            </button>
        </span>
        <span class="hint">
            {{localize hint}}
        </span>

        <div class="sub-settings" id="{{id}}">
            {{#when type "eq" "reputationRange"}}
                {{>"modules/emissary/templates/menu/partials/reputationRange.hbs" this id=id}}
            {{/when}}
            {{#when type "eq" "settingsArray"}}
                <div class="settings-array">
                    {{#each settingValue}}
                        {{#when ../subtype "eq" "increment"}}
                            {{>"modules/emissary/templates/menu/partials/reputationIncrement.hbs" this id=../id}}
                        {{/when}}
                        {{#when ../subtype "eq" "control"}}
                            {{>"modules/emissary/templates/menu/partials/reputationControls.hbs" this id=../id}}
                        {{/when}}
                    {{/each}}
                </div>
                <button 
                    class="add-row-button" 
                    type="button" 
                    data-action="addRow" 
                    data-tooltip={{localize "emissary.menu.reputationSettings.buttons.addRow"}}
                >
                    +
                </button>
            {{/when}}
            {{#when type "eq" "checkboxes"}}
                {{#each settingValue}}
                    <div class="specific-setting">
                        <label for="{{id}}-{{key}}">{{localize settingName}}</label>:
                        <input name="{{id}}-{{key}}" type="checkbox" {{#if hidden}}checked{{/if}} />
                    </div>
                {{/each}}
            {{/when}}
        </div>
    </div>

</div>