<section>
    <div>
        <h1>{{localize "emissary.menu.templateManager.labels.selectTemplate"}}</h1>
        <div class="template-selection">
            <select name="template" id="settings-template-select">
                {{#each templatesOption as |option|}}
                    <option id="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <span id="settings-template-description"></span>
            <button type="button" data-action="applyTemplate">{{localize
                    "emissary.menu.templateManager.buttons.applyTemplate"
                }}</button>
        </div>
    </div>
    <h1 class="hr-text"><span>{{localize "emissary.menu.templateManager.labels.or"}}</span></h1>
    <div>
        <h1>{{localize "emissary.menu.templateManager.labels.importTemplate"}}</h1>
        <div class="template-import">
            <input type="file" id="settingsFile" />
            <button type="button" data-action="importTemplate">
                <i class="fa-solid fa-download"></i>
                {{localize "emissary.menu.templateManager.buttons.importTemplate"}}
            </button>
        </div>
    </div>
</section>