<div
    class="faction-item {{repLevel.value}}"
    id="{{id}}"
    style="border-color:{{repLevel.color}}"
    data-action="openRollout"
>
    <div class="faction-box">
        <span class="item-name">{{name}}</span>
        <span
            class="reputation-level"
            data-tooltip="{{localize 'emissary.menu.reputationTracker.currentReputation'}}: {{repNumber}}"
        >
            {{repLevel.label}}
        </span>
    </div>
    <div class="rollout" id="rollout-{{id}}">
        <div class="faction-information">
            {{#if imgsrc}}<img src="{{imgsrc}}">{{/if}}
            {{#if journalUuid}}<span>{{{journalUuid}}}</span>{{/if}}
        </div>
        {{#if @root.isGM}}
        <span class="control-buttons">
            <span class="reputation-controls">
            {{#each faction.controls}}
                <button
                    class="reputation-control"
                    faction-uuid="{{../id}}"
                    data-value="{{amount}}"
                    data-action="updateReputation"
                    data-tooltip="{{label}}"
                >
                    <i class="{{icon}}"></i>
                </button>
            {{/each}}
            </span>
            <span class="meta-controls">
                <button
                class="remove-faction"
                data-action="deleteFaction"
                faction-uuid="{{id}}"
                data-tooltip="{{localize 'emissary.menu.reputationTracker.remove'}}"
                >
                    <i class="fa-regular fa-trash"></i>
                </button>
            </span>
        </span>
        
        {{/if}}
    </div>
</div>