
<div class="entity-item">
    <div class="flex-item vertical">
        <div class="{{#when change.value.value "gte" 0}}positive{{else}}negative{{/when}}" id="log-change">
            {{#when change.value.value "gte" 0}}
                {{#if change.character}}
                    {{localize "emissary.logs.addedCharacter" value=change.value.label character=change.character}}
                    {{else}}
                        {{localize "emissary.logs.added" value=change.value.label}}
                {{/if}}
            {{else}}
                {{#if change.character}}
                    {{localize "emissary.logs.subtractedCharacter" value=change.value.label character=change.character}}
                    {{else}}
                        {{localize "emissary.logs.subtracted" value=change.value.label}}
                {{/if}}
            {{/when}}
        </div>
        <div id="log-reason">
            {{#if change.reason}}
                Reason:
                {{change.reason}}
            {{/if}}
        </div>
        <div id="rep-total">
            {{localize "emissary.logs.total" total=change.total}}
        </div>
    </div>
    <div class="flex-item vertical" id="date-time">
        <div id="log-date">{{dateTime.date}}</div>
        <div id="log-time">{{dateTime.time}}</div>
    </div>
</div>