
<div class="entity-item">
    <div class="flex-item vertical">
        <div class="{{#when change.value.value "gte" 0}}positive{{else}}negative{{/when}}" id="log-change">
            {{#when change.value.value "gte" 0}}
                Added {{change.value.label}}
                {{#if change.character}}
                    to {{change.character}}
                {{/if}}
            {{else}}
                Subtracted {{change.value.label}}
                {{#if change.character}}
                    from {{change.character}}
                {{/if}}
            {{/when}}
        </div>
        <div id="log-reason">
            {{#if change.reason}}
                Reason:
                {{change.reason}}
            {{/if}}
        </div>
        <div id="rep-total">
            New Reputation Total: {{change.total}}
        </div>
    </div>
    <div class="flex-item vertical" id="date-time">
        <div id="log-date">{{dateTime.date}}</div>
        <div id="log-time">{{dateTime.time}}</div>
    </div>
</div>